/.demo1.java._trace
/.demo1.xtendbin
/.demo2.java._trace
/.demo2.xtendbin
/.demo3.java._trace
/.demo3.xtendbin
/.demo4.java._trace
/.demo4.xtendbin
/demo1.java
/demo2.java
/demo3.java
/demo4.java
/.demo_try.java._trace
/.OneParameter.java._trace
